@import url("https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&display=swap");
@import "../styles/globals.css";

@theme {
    --font-display: "Bricolage Grotesque", sans-serif;
}

@layer base {
    :root {
        @apply font-display;
    }
    * {
        @apply font-display;
    }

    body {
        @apply w-full overflow-x-hidden   relative m-0 p-0 bg-black  text-white;
    }
}
